# Select a provider (Uncomment it)
LLM_PROVIDER=openai
# LLM_PROVIDER=openrouter

# OpenRouter API Key (required if using OpenRouter)
OPENROUTER_API_KEY=your_openrouter_key

# OpenAI API Key (required if using OpenAI)
OPENAI_API_KEY=your_openai_key
